@import url('../../src/conv_base.css');

:root {
    --conv-bg-color: #FFFFBE;
    --conv-title-color: darkblue;
    --conv-btn-bg: #27ae60;
    --conv-btn-hover: #219a52;
    --conv-tooltip-bg: #e2bec2;
    --conv-tooltip-border: rgba(211, 220, 50, 0.6);
}