#module {
  padding: 20px;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.calculator {
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ddd;
  max-width: 550px;
}

#in {
  padding: 0px 20px;
}

.digit {
  background: linear-gradient(to bottom right, #800000, #b22222);
  color: #ddd;
}

.operator {
  background: linear-gradient(to bottom right, #ffa500, #ff8c00);
  color: #fff;
}

.percent {
  background:
    radial-gradient(circle at 50% 0,
      rgba(255, 0, 0, 0.5),
      rgba(255, 0, 0, 0) 70.71%),
    radial-gradient(circle at 6.7% 75%,
      rgba(0, 0, 255, 0.5),
      rgba(0, 0, 255, 0) 70.71%),
    radial-gradient(circle at 93.3% 75%,
      rgba(0, 255, 0, 0.5),
      rgba(0, 255, 0, 0) 70.71%) beige;
  color: #fff;
}

.function {
  background: linear-gradient(to bottom right, #ffff66, #ffeb3b);
  color: #000;
}

.other {
  background: linear-gradient(to bottom right, #006400, #228b22);
  color: #eee;
}

.other-operator {
  background: linear-gradient(to bottom right, #ff4500, #e63900);
  color: #fff;
}

.action {
  background: linear-gradient(to bottom right, #000000, #333333);
  color: pink;
}

.var {
  background: linear-gradient(to bottom right, #00ffff, #66ffff);
  color: #000;
}

.navigation {
  background: linear-gradient(to bottom right, #0000cd, #1e90ff);
  color: #fff;
}

p {
  height: 50px;
  overflow: scroll;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  font-size: 18px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  font-size: 16px;
  box-sizing: border-box;
}

.grid {
  padding: 20px;
  background-color: gray;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

#expression {
  font-size: 16px;
}

#result {
  font-size: 22px;
  font-weight: bold;
  min-height: 24px;
}